body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

#game-container {
  text-align: center;
  background-color: lightskyblue;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: darkblue solid;
}

#guidelines {
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
  background-color: lightcyan;
  padding: 5px;
  border-radius: 5px;
}

#difficulty-selection {
  margin-bottom: 20px;
}

#game-board {
  display: grid;
  grid-gap: 10px;
  justify-content: center;
}

.card {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s;
}

.card img {
  max-width: 100%;
  max-height: 100%;
  visibility: hidden;
}

.card.revealed img {
  visibility: visible;
}

.card.matched {
  opacity: 0.5;
  cursor: default;
}

#timer,
#result {
  margin: 10px 0;
  font-weight: bold;
}
